@use "./variables";

li {
  font-size: variables.$font-size;
  font-family: variables.$primary-font;
}

header {
  background-image: url("./images/desktop/image-hero.jpg");
  background-size: cover;
  background-position: top;
  height: 45vh;
  color: variables.$white;
  padding: 3rem 10rem;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: flex-start;
}

nav {
  margin-left: auto;
  ul {
    list-style: none;
    display: flex;
    gap: 20px;
    li {
      font-size: variables.$font-size;
      cursor: pointer;
      position: relative;
    }

    li::after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: variables.$white;
      border-radius: 2px;
      transition: width 0.3s ease-in-out;
    }

    li:hover::after {
      width: 40%;
    }
  }
}

.title {
  border: 1px solid variables.$white;
  padding: 1rem;
  width: fit-content;
  margin-top: auto;

  h1 {
    span {
      display: block;
      font-size: clamp(1.5rem, 3vw, 3rem);
      font-family: variables.$secondary-font;
      text-transform: uppercase;
      font-weight: 300;
    }
  }
}
