@use "variables";

@mixin headingStyles {
  font-size: clamp(1.5rem, 2vw + 0.2rem, 3rem);
  font-family: variables.$secondary-font;
  font-weight: 300;
  text-transform: uppercase;
}

@mixin buttonStyles {
  padding: 0.5rem 3rem;
  border: 1px solid variables.$black;
  border-radius: 0.5rem;
  background-color: variables.$white;
  font-family: variables.$primary-font;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: variables.$black;
    color: variables.$white;
    transition: all 0.3s ease;
  }

  &:active {
    transform: scale(0.95);
    transition: transform 0.1s;
  }
}

@mixin navStyles {
  nav {
    margin-left: auto;
    @include breakpoint(mobile) {
      margin-left: 0;
      align-self: center;
    }
    ul {
      list-style: none;
      display: flex;
      gap: 20px;
      @include breakpoint(mobile) {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      }
      li {
        font-size: variables.$font-size;
        cursor: pointer;
        position: relative;
      }

      @include breakpoint(desktop) {
        li::after {
          content: "";
          position: absolute;
          bottom: -8px;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 2px;
          background-color: variables.$white;
          border-radius: 2px;
          transition: width 0.3s ease-in-out;
        }

        li:hover::after {
          width: 40%;
        }
      }
    }
  }
}

@mixin breakpoint($size) {
  @if $size == mobile {
    @media (max-width: 48em) {
      @content;
    }
  } @else if $size == tablet {
    @media (min-width: 48em) {
      @content;
    }
  } @else if $size == desktop {
    @media (min-width: 64em) {
      @content;
    }
  }
}
