li {
  font-size: 15px;
  font-family: "Alata", sans-serif;
}

header {
  background-image: url("../images/desktop/image-hero.jpg");
  background-size: cover;
  background-position: top;
  height: 45vh;
  color: hsl(0, 0%, 100%);
  padding: 3rem 10%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 48em) {
  header {
    height: 100vh;
  }
  header nav {
    display: none;
  }
}

.logo {
  display: flex;
  align-items: center;
}

@media (min-width: 64em) {
  nav {
    margin-left: auto;
  }
}
@media (min-width: 64em) and (max-width: 48em) {
  nav {
    margin-left: 0;
    align-self: center;
  }
}
@media (min-width: 64em) {
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
}
@media (min-width: 64em) and (max-width: 48em) {
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
@media (min-width: 64em) {
  nav ul li {
    font-size: 15px;
    cursor: pointer;
    position: relative;
  }
}
@media (min-width: 64em) and (min-width: 64em) {
  nav ul li::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 2px;
    transition: width 0.3s ease-in-out;
  }
  nav ul li:hover::after {
    width: 40%;
  }
}
@media (min-width: 64em) {
  .fa-solid.fa-bars {
    display: none;
  }
}
.fa-solid.fa-bars {
  margin-left: auto;
  align-self: center;
}

.title {
  border: 2px solid hsl(0, 0%, 100%);
  padding: 1rem;
  width: fit-content;
  margin-top: auto;
}
@media (max-width: 48em) {
  .title {
    margin-top: 100px;
    width: 100%;
  }
}
.title h1 span {
  display: block;
  font-size: 2.6rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}
@media (min-width: 64em) {
  .title h1 span:nth-child(3),
  .title h1 span:nth-child(4) {
    display: inline;
  }
}
@media (max-width: 48em) {
  .title h1 span:nth-child(3),
  .title h1 span:nth-child(4) {
    display: block;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 10%;
  width: 100%;
}

.about {
  position: relative;
}
@media (max-width: 48em) {
  .about {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
.about img {
  width: 60%;
}
@media (max-width: 48em) {
  .about img {
    width: 100%;
  }
}
.about .about-text {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(-18%);
  background-color: hsl(0, 0%, 100%);
  padding: 5% 5% 0 5%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 45%;
}
@media (max-width: 48em) {
  .about .about-text {
    position: static;
    width: 100%;
    transform: translateX(0);
  }
}
.about h2 {
  font-size: clamp(1.5rem, 2vw + 0.2rem, 3rem);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
.about p {
  font-size: clamp(0.9rem, 1vw + 0.2rem, 1rem);
  font-family: "Josefin Sans", sans-serif;
  color: hsl(0, 0%, 55%);
  line-height: 1.5;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
}
.projects .projects-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 48em) {
  .projects .projects-title {
    justify-content: center;
  }
}
.projects .projects-title h2 {
  font-size: clamp(1.5rem, 2vw + 0.2rem, 3rem);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
@media (min-width: 64em) {
  .projects .projects-title .desktop-btn {
    padding: 0.5rem 3rem;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 0.5rem;
    background-color: hsl(0, 0%, 100%);
    font-family: "Alata", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
  }
  .projects .projects-title .desktop-btn:hover {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    transition: all 0.3s ease;
  }
  .projects .projects-title .desktop-btn:active {
    transform: scale(0.95);
    transition: transform 0.1s;
  }
}
@media (max-width: 48em) {
  .projects .projects-title .mobile-btn {
    display: none;
  }
}
.projects .projects-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  height: 100vh;
}
@media (max-width: 48em) {
  .projects .projects-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    height: auto;
  }
}
.projects .projects-container > .project {
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  position: relative;
}
.projects .projects-container > .project::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 0;
}
.projects .projects-container > .project:hover::after {
  opacity: 0.7;
}
.projects .projects-container > .project:hover p {
  color: hsl(0, 0%, 0%);
}
.projects .projects-container > .project p {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  z-index: 1;
}
.projects .projects-container > .project:nth-child(1) {
  grid-column: auto;
  background-image: url("../images/desktop/image-deep-earth.jpg");
  background-size: cover;
}
@media (max-width: 48em) {
  .projects .projects-container > .project:nth-child(1) {
    background-image: url("../images/mobile/image-deep-earth.jpg");
  }
}
.projects .projects-container > .project:nth-child(2) {
  grid-column: auto;
  background-image: url("../images/desktop/image-night-arcade.jpg");
  background-size: cover;
}
@media (max-width: 48em) {
  .projects .projects-container > .project:nth-child(2) {
    background-image: url("../images/mobile/image-night-arcade.jpg");
  }
}
.projects .projects-container > .project:nth-child(3) {
  grid-column: auto;
  background-image: url("../images/desktop/image-soccer-team.jpg");
  background-size: cover;
}
@media (max-width: 48em) {
  .projects .projects-container > .project:nth-child(3) {
    background-image: url("../images/mobile/image-soccer-team.jpg");
  }
}
.projects .projects-container > .project:nth-child(4) {
  grid-column: auto;
  background-image: url("../images/desktop/image-grid.jpg");
  background-size: cover;
}
@media (max-width: 48em) {
  .projects .projects-container > .project:nth-child(4) {
    background-image: url("../images/mobile/image-grid.jpg");
  }
}
.projects .projects-container > .project:nth-child(5) {
  grid-column: auto;
  background-image: url("../images/desktop/image-from-above.jpg");
  background-size: cover;
}
@media (max-width: 48em) {
  .projects .projects-container > .project:nth-child(5) {
    background-image: url("../images/mobile/image-from-above.jpg");
  }
}
.projects .projects-container > .project:nth-child(6) {
  grid-column: auto;
  background-image: url("../images/desktop/image-pocket-borealis.jpg");
  background-size: cover;
}
@media (max-width: 48em) {
  .projects .projects-container > .project:nth-child(6) {
    background-image: url("../images/mobile/image-pocket-borealis.jpg");
  }
}
.projects .projects-container > .project:nth-child(7) {
  grid-column: auto;
  background-image: url("../images/desktop/image-curiosity.jpg");
  background-size: cover;
}
@media (max-width: 48em) {
  .projects .projects-container > .project:nth-child(7) {
    background-image: url("../images/mobile/image-curiosity.jpg");
  }
}
.projects .projects-container > .project:nth-child(8) {
  grid-column: auto;
  background-image: url("../images/desktop/image-fisheye.jpg");
  background-size: cover;
}
@media (max-width: 48em) {
  .projects .projects-container > .project:nth-child(8) {
    background-image: url("../images/mobile/image-fisheye.jpg");
  }
}
@media (min-width: 64em) {
  .projects .mobile-btn {
    display: none;
  }
}
@media (max-width: 48em) {
  .projects .mobile-btn {
    padding: 0.5rem 3rem;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 0.5rem;
    background-color: hsl(0, 0%, 100%);
    font-family: "Alata", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
  }
  .projects .mobile-btn:hover {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    transition: all 0.3s ease;
  }
  .projects .mobile-btn:active {
    transform: scale(0.95);
    transition: transform 0.1s;
  }
  .projects .desktop-btn {
    display: none;
  }
}

footer {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  padding: 2rem 10%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 48em) {
  footer {
    flex-direction: column;
    gap: 2rem;
  }
}
footer .footer-section-one,
footer .footer-section-two {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  position: relative;
}
@media (max-width: 48em) {
  footer .footer-section-one,
  footer .footer-section-two {
    align-self: center;
  }
}
footer .footer-section-two > div {
  align-self: flex-end;
  display: flex;
  gap: 1rem;
}
@media (max-width: 48em) {
  footer .footer-section-two > div {
    align-self: center;
  }
}
footer .footer-section-two > div .image-wrapper {
  position: relative;
  cursor: pointer;
}
footer .footer-section-two > div .image-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 2px;
  transition: width 0.3s ease-in-out;
}
footer .footer-section-two > div .image-wrapper:hover::after {
  width: 100%;
}
footer .footer-section-two > p {
  color: hsl(0, 0%, 41%);
}
footer .footer-section-one > img {
  width: 9rem;
}
footer nav {
  margin-left: auto;
}
@media (max-width: 48em) {
  footer nav {
    margin-left: 0;
    align-self: center;
  }
}
footer nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
@media (max-width: 48em) {
  footer nav ul {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
footer nav ul li {
  font-size: 15px;
  cursor: pointer;
  position: relative;
}
@media (min-width: 64em) {
  footer nav ul li::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 2px;
    transition: width 0.3s ease-in-out;
  }
  footer nav ul li:hover::after {
    width: 40%;
  }
}

menu {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  padding: 2rem 10%;
  text-align: center;
  display: none;
  flex-direction: column;
  gap: 4rem;
  position: fixed;
  width: 100%;
  height: 100vh;
  padding: 3rem 10%;
  overflow-y: hidden;
  top: 0;
  left: 0;
  z-index: 1;
}
menu .menu-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
menu .menu-title .fa-solid.fa-times.fa-lg {
  margin-left: auto;
  cursor: pointer;
}
menu nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
menu nav ul li {
  font-size: 1.5rem;
  font-family: "Alata", sans-serif;
  cursor: pointer;
  color: hsl(0, 0%, 55%);
}
menu nav {
  align-self: left;
}

.active {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

/*# sourceMappingURL=styles.css.map */
