li {
  font-size: 15px;
  font-family: "Alata", sans-serif;
}

header {
  background-image: url("./images/desktop/image-hero.jpg");
  background-size: cover;
  background-position: top;
  height: 45vh;
  color: hsl(0, 0%, 100%);
  padding: 3rem 10rem;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: flex-start;
}

nav {
  margin-left: auto;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav ul li {
  font-size: 15px;
  cursor: pointer;
  position: relative;
}
nav ul li::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 2px;
  transition: width 0.3s ease-in-out;
}
nav ul li:hover::after {
  width: 40%;
}

.title {
  border: 1px solid hsl(0, 0%, 100%);
  padding: 1rem;
  width: fit-content;
  margin-top: auto;
}
.title h1 span {
  display: block;
  font-size: clamp(1.5rem, 3vw, 3rem);
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 10%;
  width: 100%;
}

.about {
  position: relative;
}
.about img {
  width: 60%;
}
.about .about-text {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(-18%);
  background-color: hsl(0, 0%, 100%);
  padding: 5% 5% 0 5%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 45%;
}
.about h2 {
  font-size: clamp(0.2rem, 2vw + 0.2rem, 3rem);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
.about p {
  font-size: clamp(0.1rem, 1vw + 0.2rem, 1rem);
  font-family: "Josefin Sans", sans-serif;
  color: hsl(0, 0%, 55%);
  line-height: 1.5;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 7rem;
}
.projects .projects-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects .projects-title h2 {
  font-size: clamp(0.2rem, 2vw + 0.2rem, 3rem);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
.projects .projects-title button {
  padding: 0.5rem 3rem;
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 100%);
  font-family: "Alata", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}
.projects .projects-title button:hover {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  transition: all 0.3s ease;
}
.projects .projects-title button:active {
  transform: scale(0.95);
  transition: transform 0.1s;
}
.projects .projects-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  height: 100vh;
}
.projects .projects-container > .project {
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  position: relative;
}
.projects .projects-container > .project::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 0;
}
.projects .projects-container > .project:hover::after {
  opacity: 0.7;
}
.projects .projects-container > .project:hover p {
  color: hsl(0, 0%, 0%);
}
.projects .projects-container > .project p {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  z-index: 1;
}
.projects .projects-container > .project:nth-child(1) {
  grid-column: auto;
  background-image: url("./images/desktop/image-deep-earth.jpg");
  background-size: cover;
}
.projects .projects-container > .project:nth-child(2) {
  grid-column: auto;
  background-image: url("./images/desktop/image-night-arcade.jpg");
  background-size: cover;
}
.projects .projects-container > .project:nth-child(3) {
  grid-column: auto;
  background-image: url("./images/desktop/image-soccer-team.jpg");
  background-size: cover;
}
.projects .projects-container > .project:nth-child(4) {
  grid-column: auto;
  background-image: url("./images/desktop/image-grid.jpg");
  background-size: cover;
}
.projects .projects-container > .project:nth-child(5) {
  grid-column: auto;
  background-image: url("./images/desktop/image-from-above.jpg");
  background-size: cover;
}
.projects .projects-container > .project:nth-child(6) {
  grid-column: auto;
  background-image: url("./images/desktop/image-pocket-borealis.jpg");
  background-size: cover;
}
.projects .projects-container > .project:nth-child(7) {
  grid-column: auto;
  background-image: url("./images/desktop/image-curiosity.jpg");
  background-size: cover;
}
.projects .projects-container > .project:nth-child(8) {
  grid-column: auto;
  background-image: url("./images/desktop/image-fisheye.jpg");
  background-size: cover;
}

footer {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  padding: 2rem 10rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
footer .footer-section-one,
footer .footer-section-two {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  position: relative;
}
footer .footer-section-two > div {
  align-self: flex-end;
  display: flex;
  gap: 1rem;
}
footer .footer-section-two > div .image-wrapper {
  position: relative;
  cursor: pointer;
}
footer .footer-section-two > div .image-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 2px;
  transition: width 0.3s ease-in-out;
}
footer .footer-section-two > div .image-wrapper:hover::after {
  width: 100%;
}
footer .footer-section-two > p {
  color: hsl(0, 0%, 41%);
}
footer .footer-section-one > img {
  width: 9rem;
}
footer nav {
  margin-left: auto;
}
footer nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
footer nav ul li {
  font-size: 15px;
  cursor: pointer;
  position: relative;
}
footer nav ul li::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 2px;
  transition: width 0.3s ease-in-out;
}
footer nav ul li:hover::after {
  width: 40%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

/*# sourceMappingURL=styles.css.map */
